/*@font-face {
	font-family: 'PFDinTextPro';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/PFDinTextPro-Bold.eot');
	src: url('../fonts/PFDinTextPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro-Bold.woff') format('woff'),
	url('../fonts/PFDinTextPro-Bold.ttf') format('truetype');
}*/
