/**
 * @brief
 * @author Ver_Mishel <kshilov@inbox.ru>
 */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: "PFAgoraSansPro", serif;
    color: #222222;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    list-style: none;
    border-collapse: collapse;
    text-decoration: none;
}
html, body {
    height: 100%;
    min-width: 400px;
    font-size: 16px;
}
.body-page {
    min-height: 100%;
    padding: 0 0 57px 0;
}
footer {
    height: 57px;
    margin: -57px 0 0 0;
}
.content {
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.wide-content {
    max-width: 1468px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 10px;
    position: relative;
}
header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    top: 0;
    left: 0;
}
.header-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 316px;
    padding-right: 50px;
}
.header-logo {
    margin-top: -5px;
}
.btn-menu {
    margin: 0 0 0 50px;
    cursor: pointer;
}
.social-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.social-block__url {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-image: url("../img/social-icons.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.social-block__url:hover {
    background-image: url("../img/social-icons-hover.png");
    background-position: 0 0;
}
.social-block__url:nth-child(2),
.social-block__url:nth-child(2):hover {
    background-position: -60px 0;
}
.social-block__url:nth-child(3),
.social-block__url:nth-child(3):hover {
    background-position: -118px 0;
}
.social-block__url:nth-child(4),
.social-block__url:nth-child(4):hover {
    background-position: -177px 0;
}
.social-block__url:nth-child(5),
.social-block__url:nth-child(5):hover {
    background-position: -233px 0;
}
.social-block__url:nth-child(6),
.social-block__url:nth-child(6):hover {
    background-position: -288px 0;
}
.short-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 160px 20px 30px;
    display: none;
    z-index: 50;
}
.short-menu-body {
    padding: 50px 160px 20px 180px;
    position: absolute;
    width: 85%;
}
.short-menu .header-logo {
    position: absolute;
    top: 0;
    left: 0;
}
.short-menu .btn-close {
    top: 10px;
}
.btn-close {
    width: 41px;
    height: 41px;
    background: url("../img/close.png") no-repeat;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    line-height: 1;
    cursor: pointer;
}
.short-menu a {
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 70px;
    font-weight: 100;
    display: block;
}
.short-menu a:hover {
    color: #ad9356;
}
.feedback {
    text-align: right;
}
.feedback__phone {
    display: block;
    font-size: 40px;
    color: #222;
}
.feedback__get-form {
    font-size: 14px;
    border-bottom: 1px dotted #222;
    text-transform: uppercase;
    font-weight: 600;
    color: #222;
}
.main-slider__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-slider__info_slide-bot {
    width: 90px;
    height: 90px;
    background: url("../img/arrow-b.png") no-repeat;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -45px;
    -webkit-border-radius: 45px;
       -moz-border-radius: 45px;
            border-radius: 45px;
}
.main-slider__info .content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.main-slider__info h1 {
    font-size: 88px;
    color: #ad9356;
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
}
.main-slider__info h1 span {
    display: inline-block;
    color: #222;
    font-weight: 100;
    position: relative;
}
.main-slider__info h1 span:after {
    content: "";
    position: absolute;
    border-top: 3px solid #222;
    left: 0;
    right: 0;
    top: 50%;
}

/* Стили слайдера на главной странице */
.main-slider {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
}
#slider-wrap,
#slider,
.slide  {
    width: 100%;
    height: 100%;
    position: relative;
}
.slide {
    background-position: top center!important;
    background-repeat: no-repeat!important;
}
.slide img {
    width: 100%;
}
.section1 {
    padding: 60px 0;
    text-align: center;
}
.section1 h2 {
    font-size: 46px;
    font-style: italic;
    font-weight: 300;
    color: #ad9356;
}
.section1 span {
    font-size: 24px;
    font-style: italic;
    color: #999;
    line-height: 2.2;
}
.section1 span em {
    color: #999;
}
.section1 p {
    font-size: 24px;
    color: #222;
}
.section2 {
    padding: 60px 0;
    background: #f5f5f5;
}
.section2 .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.section2__item {
    position: relative;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin: 30px 0;
}
.section2__item .section2__item_content img {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.section2__item .section2__item_content:hover img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}
.section2__item_content.block-blog {
    width: 540px;
    height: 200px;
    padding: 65px 80px 20px;
    background: #ad9356;
}
.section2__item_link {
    padding: 37px 32px;
    font-size: 26px;
    text-transform: uppercase;
    background: #222;
    color: #fff;
    font-weight: 600;
    position: absolute;
    bottom: -35px;
    z-index: 9;
}
.section2__item_link.up-link {
    bottom: inherit;
    top: -40px;
}
.section2__item_link:hover {
    background: #ad9356;
}
.section3 {
    padding: 60px 0 0;
}
.section3 .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.block-jack {
    position: relative;
}
.section3 .main-jack,  .section3 .talking-jack, .section3 .touch-place {
    position: absolute;
    background-repeat: no-repeat;
}
.section3 .main-jack {
    color: #ad9356;
    text-transform: uppercase;
    border-bottom: 1px solid #ad9356;
    font-size: 80px;
    font-weight: 300;
    top: 10px;
    left: -150px;
}
.section3 .jack-answer, .section3 .jack-ask {
    width: 433px;
    height: 161px;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    line-height: 141px;
}
.section3 .jack-ask {
    background-image: url("../img/jack-talk.png");
    top: 260px;
    left: -340px;
    padding-right: 25px;
}
.section3 .jack-answer {
    background-image: url("../img/jack-talk-2.png");
    top: 0;
    right: -280px;
    padding-left: 25px;
}
.section3 .touch-place {
    background-image: url("../img/jack-touch.png");
    width: 120px;
    height: 120px;
    cursor: pointer;
    top: 210px;
    left: 150px;
}
.section4 {
    padding: 40px 0 100px;
}
.section4 .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.section4__item {
    width: 250px;
    text-align: center;
    overflow: hidden;
    margin: 20px 10px;
}
.section4__item__image {
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
}
.section4__item:nth-child(1) .section4__item__image {
    background-position: -25px -60px;
}
.section4__item:nth-child(2) .section4__item__image {
    background-position: 5px -55px;
}
.section4__item:nth-child(3) .section4__item__image {
    background-position: -15px -55px;
}
.section4__item:nth-child(4) .section4__item__image {
    background-position: 0 -40px;
}
.section4__item h4 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 2;
}
.section4__item p {
    font-size: 17px;
    line-height: 1.3;
}

.section5 .wide-content {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    font-size: 0;
    padding: 0;
}
.section5__item {
    width: 50%;
    padding: 20px 0 70px;
}
.section5__item.bad-side {
    background: #393939;
    color: #fff;
}
.section5__item.good-side {
    background: #f3f3f2;
    color: #222;
}
.section5__item-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    min-height: 400px;
}
.section5__item-body__item {
    text-align: center;
    margin: 0 5%;
    width: 145px;
    min-height: 145px;
}
.img-body {
    min-height: 103px;
    margin-bottom: 5px;
}
.section5__item h3 {
    font-size: 51px;
    text-align: center;
    line-height: 3;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.section5__item.bad-side h3 {
    text-decoration: line-through;
}
.section5__item.good-side h3 {
    color: #ad9356;
}
.section5__item-body__item p {
    font-size: 16px;
    text-transform: uppercase;
}
.section5__item.bad-side .section5__item-body__item p {
    text-decoration: line-through;
    color: #fff;
}
.section6 {
    text-align: center;
    padding: 40px 0;
    background: #ad9356;
}
.section6 p {
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 300;
}
.section6 h3 {
    text-transform: uppercase;
    font-size: 51px;
    line-height: 2;
    color: #fff;
}
.url-more {
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 90px;
    font-size: 20px;
    display: inline-block;
}
.section7 {
    font-size: 0;
}
.section7 .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.section7__item:nth-child(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section7__item h3 {
    font-size: 51px;
    text-transform: uppercase;
    font-weight: 300;
}
.section7__item p {
    font-size: 22px;
    padding: 10px 0;
}
.section7__item .url-more {
    color: #ad9356;
    border: 3px solid #ad9356;
    padding: 20px 60px;
    font-weight: 600;
    max-width: 242px;
}
.section8 > div > a {
    width: 316px;
}
.section8 {
    padding: 70px 0 50px;
    background: #ad9356;
}
.section8 h3 {
    font-size: 51px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
}
.section8 .feedback__get-form {
    color: #fff;
    border-bottom: 1px dotted #fff;
}
.section8 .feedback__phone {
    color: #fff;
}
.social-block.social-block-footer .social-block__url {
    background-image: url("../img/social-icons-footer.png");
}

footer .wide-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
footer a {
    text-decoration: underline;
    color: #ad9356;
}
footer span {
    font-style: italic;
    display: none;
}
.main-footer span {
    display: block;
}
footer span em {
    color: #ad9356;
}

/* Модальные окна */
.modal-block {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 22;
    top: 0;
    left: 0;
    opacity: 1;
}
.modal-block.modal-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.modal-block .modal-body {
    background: #ffffff;
    position: relative;
    max-width: 1110px;
    width: 100%;
    text-align: center;
}
.modal-content {
    padding: 50px 70px;
}
.modal-content.modal-content-about {
    padding: 50px 130px 20px;
}
.modal-content-footer {
    padding: 20px 130px;
    background: #ad9356;
}
.modal-content-footer p {
    text-align: left;
    color: #fff;
    font-size: 36px;
}
.modal-body h3,
.big-h3 h3 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 100;
}
.modal-content p {
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    margin: 25px 0;
    font-weight: 300;
}
.modal-body span,
.big-h3 span {
    color: #ad9356;
}
.input-reg {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 2px solid #dfdfdf;
    line-height: 2.5;
    color: #666666;
    margin: 20px 15px 40px;
}
.modal-block.modal-thx p {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #666;
}
.modal-block.modal-thx h3 {
    margin: 0;
}
::-webkit-input-placeholder {color: #666666;}
::-moz-placeholder {color: #666666;}
:-ms-input-placeholder {color: #666666;}
:-moz-placeholder {color: #666666;}
.btn-submit {
    display: block;
    margin: 0 auto;
    background: #ad9356;
    color: #fff;
    padding: 22px 73px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}


.body-page.second-pages {
    padding-top: 105px;
}
/* Страница 404 */
.body-page.page-404 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.body-page.second-pages header {
    background: #f4f4f4;
}
.error-404 {
    position: relative;
    width: 650px;
}
.error-404 img {
    width: 100%;
}
.content-404 h1 {
    text-transform: uppercase;
    font-size: 51px;
    font-weight: 200;
    padding-left: 60px;
    line-height: 1.5;
}
.content-404 p {
    font-size: 20px;
    font-weight: 200;
    padding-left: 60px;
}
.content-404 a {
    color: #ad9356;
    text-decoration: underline;
}

/* Страница блога */
.block-header {
    background: #f4f4f4;
    padding-bottom: 25px;
}
.block-header h1 {
    color: #ad9356;
    font-size: 88px;
    font-weight: 200;
    line-height: 1.2;
    padding: 0 0 10px 0;
}
.block-blog .blog-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 50px 0 0;
    border-bottom: 1px solid #e7e7e7;
}
.blog-item {
    width: 255px;
    margin: 0 11px 15px;
    position: relative;
}
.blog-item__img {
    display: block;
    position: relative;
}
.blog-item time {
    font-size: 12px;
    font-weight: 300;
    color: #a2a2a2;
    line-height: 1.2;
}
.blog-item h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.pagination {
    text-align: center;
    padding: 40px 0 70px;
}
.pagination .arrow {
    display: inline-block;
    background-repeat: no-repeat;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    width: 21px;
    height: 14px;
}
.pagination .arrow.arrow-left {
    background: url("../img/arrow-left.png");
    margin-right: 40px;
}
.pagination .arrow.arrow-right {
    background: url("../img/arrow-right.png");
    margin-left: 40px;
}
.pagination .pag-page {
    font-size: 30px;
    font-weight: 300;
    line-height: 44px;
    display: inline-block;
    width: 44px;
    text-align: center;
    margin: 0 5px;
}
.pagination .pag-page.active {
    background: #ad9356;
    color: #fff;
}

/* Страница поста блога */
.block-blog.grey {
    background: #f5f5f5;
}
.back-to-list {
    color: #ad9356;
    text-decoration: underline;
    line-height: 2;
    font-size: 14px;
    position: relative;
    display: inline-block;
}
.back-to-list:before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url("../img/btl.png") no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.block-header.post-header h1 {
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    line-height: 1;
    padding-left: 12px;
}
.block-header.post-header p {
    padding-left: 12px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.block-header.post-header time {
    color: #a2a2a2;
    font-weight: 300;
    text-transform: capitalize;
}
.post-content {
    max-width: 760px;
    padding: 20px 15px 30px;
    position: relative;
    border-bottom: 1px solid #bbbbbb;
}
.post-content figure {
    width: 100%;
    padding: 50px 0 40px 0;
}
.post-content figcaption {
    font-size: 14px;
    color: #999999;
    font-weight: 300;
}
.post-content p {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 200;
    padding-bottom: 10px;
}
.post-content h3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 3;
}
.social-connection p {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 90px;
    display: inline-block;
    padding-left: 12px;
}
.social-connection-urls {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.social-connection-urls a {
    display: inline-block;
    background-image: url("../img/social-connection-urls.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 27px;
    margin: 0 15px;
}
.social-connection-urls a:nth-child(1) {
    background-position: 0 -2px;
    width: 35px;
}
.social-connection-urls a:nth-child(2) {
    background-position: -70px 0;
    width: 28px;
}
.social-connection-urls a:nth-child(3) {
    background-position: -135px 0;
    width: 20px;
}
.social-connection-urls a:nth-child(4) {
    background-position: -199px 0;
    width: 20px;
}
.block-blog.post-grey {
    background: #f4f4f4;
}
.post-grey-h1 {
    text-align: center;
    font-size: 51px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 50px 0 0;
}
.block-blog.post-grey .blog-content {
    padding: 30px 0 0;
}

/* Страница Джек */
.jack-info .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.jack-info {
    padding: 50px 12px;
}
.jack-info:first-child {
    padding-bottom: 0;
}
.jack-info.jack-info-gray {
    background: #f5f5f5;
}
.jack-info-content.short-info {
    max-width: 555px;
}
.jack-info-content.long-info {
    max-width: 730px;
}
.jack-info p {
    font-size: 24px;
    font-weight: 100;
}
.jack-info h3 {
    font-size: 51px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 30px;
}

/* Страница помощи */
.block-header p {
    font-size: 24px;
    font-weight: 100;
    margin: 10px 0 20px;
}
.block-help .block-header p {
    max-width: 920px;
}
.block-help > .content.help-content {
    padding: 55px 12px;
}
.block-help-item {
    max-width: 825px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.block-help-item h3 {
    color: #ad9356;
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.help-info {
    margin-top: 20px;
    display: none;
}
.help-info p {
    font-size: 20px;
    font-weight: 300;
}
.form-question {
    background: #f5f5f5;
    padding: 50px 0;
}
.form-question-body {
    max-width: 760px;
    padding-left: 40px;
}
section.big-h3 h3 {
    text-align: left;
    font-weight: 300;
    font-size: 51px;
}
.form-question-body .input-reg {
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 30px;
    background: #f5f5f5;
    width: 344px;
}
.input-reg.input-reg-margin {
    margin-right: 0;
}
.form-question-body textarea {
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}
.form-question-body .btn-submit {
    margin: 0;
}

/* Страница видео */
.video-content {
    padding: 30px 0;
}
.blog-nav-item {
    line-height: 54px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 0 22px;
    cursor: pointer;
}
.blog-content-navigation .blog-nav-item.active {
    background: #ad9356;
    color: #fff;
}
.blog-content-video {
    padding: 30px 0;
    font-size: 0;
}
.blog-content-video-item {
    display: inline-block;
    vertical-align: top;
}
.blog-content-video-item.big-video {
    float: left;
    overflow: hidden;
}
.blog-content-video-item figcaption {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}
.blog-content-video-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 30px 0;
}
.blog-content-video-item:nth-child(3n),
.blog-content-video-item:nth-child(2) {
    margin-right: 0;
}

/* Страница отзывов */
.header-reviews-img {
    position: absolute;
    bottom: -30px;
    right: 17%;
    z-index: 1;
    width: 350px;
}
.header-reviews-img img {
    width: 100%;
}
.reviews-content {
    padding-top: 50px;
}
.reviews-content > .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.reviews-content-item {
    max-width: 540px;
    padding: 60px 40px 25px;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 0 30px rgba(0,0,0,0.1);
            box-shadow: 0 0 30px rgba(0,0,0,0.1);
    margin: 60px 15px 40px;
    position: relative;
}
.reviews-content-item:nth-child(2n-1) {
    margin-left: 0;
}
.reviews-content-item:nth-child(2n) {
    margin-right: 0;
}
.reviews-content-item h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 3;
    text-transform: uppercase;
}
.reviews-content-item p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.reviews-person-img {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 3px solid #ad9356;
    -webkit-border-radius: 60px;
       -moz-border-radius: 60px;
            border-radius: 60px;
    left: 50%;
    margin-left: -60px;
    top: -60px;
    background: #6d6d6d;
    overflow: hidden;
}
.reviews-person-img .person-img {
    width: 100%;
    height: 100%;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    background-repeat: no-repeat;
}
.form-reviews .form-question-body {
    padding: 0;
    margin: 0 auto;
}
.form-reviews .form-question-body h3 {
    text-align: center;
}
.hidden-input {
    width: 0;
    height: 0;
    margin: 0;
    line-height: 0;
    padding: 0;
    font-size: 0;
}
.block-add-photo {
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.7;
    padding-left: 75px;
    padding-top: 5px;
    position: relative;
}
.block-add-photo:before {
    content: '';
    display: block;
    position: absolute;
    width: 62px;
    height: 62px;
    background-image: url("../img/reviews/photo-icon.png");
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}
.block-add-photo label {
    color: #ad9356;
    text-decoration: underline;
    cursor: pointer;
}
.block-add-photo em {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #9b9b9b;
}
.file-and-btn .btn-submit {
    float: right;
}

/* Страница услуг */
.section-services-1 {
    position: relative;
    min-height: 1019px;
    padding-top: 109px;
}
.section-services-1 .section-services-1-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.section-services-1 h1 {
    text-align: center;
    font-size: 87px;
    text-transform: uppercase;
    color: #ad9356;
    font-weight: 200;
    line-height: 2;
}
.section-services-1-content-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 30%;
    text-align: center;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 30px 30px;
    max-height: 260px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.section-services-1-content-item.with-photo {
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 540px;
    text-align: left;
    padding: 0;
    max-height: inherit;
}
.content-item-image {
    position: relative;
    min-height: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section-services-1-content-item.with-photo .content-item-content {
    padding: 60px 35px;
}
.content-item-content h4 {
    color: #ad9356;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}
.content-item-content p {
    font-size: 36px;
    font-weight: 200;
}
.content-item-content {
    padding: 0;
}
.block-services-help {
    padding: 30px 0;
}
.section-header {
    font-size: 51px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
}
.section-header span {
    color: #ad9356;
}
.block-services-help .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.block-services-help-item {
    width: 40%;
    min-height: 210px;
    margin: 50px 10px;
    padding: 55px 50px;
    text-align: center;
    position: relative;
}
.block-services-help-item.help-item-short {
    width: 30%;
}
.block-services-help-item.help-item-white {
    background: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.block-services-help-item.help-item-dark {
    background: #393939;
}
.block-services-help-item.help-item-yellow {
    background: #ad9356;
}
.block-services-help-item.help-item-white h5,
.block-services-help-item.help-item-white p {
    color: #393939;
}
.block-services-help-item h5,
.block-services-help-item p {
    color: #ffffff;
}
.block-services-help-item.help-item-dark h5 {
    color: #ad9356;
}
.block-services-help-item h5 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 7px;
}
.block-services-help-item p {
    font-size: 16px;
    font-weight: 300;
}
.block-services-help-item .absolute-number {
    position: absolute;
    font-size: 100px;
    font-weight: 300;
    top: -60px;
    left: 50%;
    margin-left: -26px;
    color: #ad9356;
}
.block-services-help-item .absolute-number.number-dark {
    color: #393939;
}
.block-services-info .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.block-services-info .content > div {
    width: 48%;
    position: relative;
}
.howWeWork {
    padding: 30px 0;
}
.howWeWork .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 10px 0;
}
.howWeWork figure {
    width: 22%;
    text-align: center;
}
.howWeWork figure img {
    margin-bottom: 15px;
}
.howWeWork figcaption {
    font-size: 16px;
    text-transform: uppercase;
}
.block-services-info-graf-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.block-services-info {
    background: #ad9356;
    padding: 30px 0;
}
.block-services-info h3 {
    color: #fff;
}
.block-services-info-text p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
}
.info-graf-header {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    padding: 0 140px;
    margin-bottom: 40px;
    text-align: center;
}
.block-services-info-graf-content span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
}
.block-services-info-graf-content p {
    position: relative;
}
.party-head {
    width: 120px;
    padding: 10% 0 0 0;
    margin: 60px 20px 0 50px;
}
.guests {
    width: 120px;
    padding: 10% 0 0 0;
    margin: 60px 20px 0 50px;
}
.traditions {
    padding: 0 0 17% 0;
}
.party-head:after {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: 45px;
    background: #fff;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.guests:after {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: 20px;
    background: #222;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.traditions:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 55px;
    left: 42px;
    background: #907a49;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

/* Страница фотоотчета */
.block-photootchet .content {
    padding: 50px 0 30px;
}
.photootchet-content-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    font-size: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.photootchet-content-header > div {
    width: 50%;
}
.photootchet-content-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    font-size: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f4f4f4;
}
.photootchet-content-header-info {
    padding: 30px 30px;
}
.photootchet-content-header-info p {
    font-size: 20px;
    font-weight: 200;
}
.photootchet-gallery {
    font-size: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
}
.photootchet-gallery-item {
    width: 285px;
    position: relative;
    height: 285px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* Страница портфолио */
.section-portfolio-1 {
    position: relative;
    min-height: 911px;
    padding-top: 109px;
}
.section-portfolio-1 .section-portfolio-1-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    font-size: 0;
}
.section-portfolio-1 h1 {
    text-align: center;
    font-size: 87px;
    text-transform: uppercase;
    color: #ad9356;
    font-weight: 200;
    line-height: 2;
}
.section-portfolio-1-content-item {
    background: #f3f3f2;
}
.section-portfolio-1-content-item.portfolio-item-short {
    width: 274px;
    height: 255px;
}
.section-portfolio-1-content-item {
    width: 365px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-portfolio-1-content-item.portfolio-item-yellow {
    background: #ad9356;
}
.section-portfolio-1-content-item.portfolio-item-foto1 {
    background: url("../img/portfolio/block-1-img-1.png");
}
.section-portfolio-1-content-item.portfolio-item-foto2 {
    background: url("../img/portfolio/block-1-img-2.png");
}
.section-portfolio-1-content-item.portfolio-item-foto3 {
    background: url("../img/portfolio/block-1-img-3.png");
}
.section-portfolio-1-content-item.portfolio-item-foto4 {
    background: url("../img/portfolio/block-1-img-4.png");
}
.section-portfolio-1-content-item h4 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 200;
}
.section-portfolio-1-content-item span {
    color: #fff;
}
.section-portfolio-1-content-item p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}
.section-portfolio-1-content-item.portfolio-item-foto p,
.section-portfolio-1-content-item.portfolio-item-foto h4 {
    color: #fff;
}
.section-portfolio-1-content-item.portfolio-item-foto span {
    color: #ad9356;
}
.section-portfolio-1-content-item .p-yellow {
    color: #ad9356;
}
.section-portfolio-1-content-item.portfolio-item-foto4 p,
.section-portfolio-1-content-item.portfolio-item-foto4 h4 {
    color: #000;
}
.workAndFriends {
    background: #f3f3f2;
    padding: 10px 0 70px;
}
.workAndFriends .content {
    display: flex;
    flex-flow: row wrap;
    font-size: 0;
    justify-content: center;
    align-items: flex-start;
}
.workAndFriends-item {
    position: relative;
    width: 364px;
    overflow: hidden;
}
.workAndFriends-item.workAndFriends-item-big {
    width: 728px;
}
.workAndFriends-item a {
    font-size: 24px;
    background: #ffffff;
    line-height: 47px;
    padding: 0 14px;
    position: absolute;
    right: 16px;
    bottom: 16px;
}
.logos {
    padding: 50px 0;
}
.logos .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 0;
}
.logos-item {
    background-image: url("../img/portfolio/logos.png");
    background-position: 0 -10px;
    background-repeat: no-repeat;
    width: 160px;
    height: 110px;
}
.logos-item:nth-child(2) {
    background-position: -190px -10px;
}
.logos-item:nth-child(3) {
    background-position: -380px -10px;
}
.logos-item:nth-child(4) {
    background-position: -570px -10px;
}
.logos-item:nth-child(5) {
    background-position: -750px -10px;
}
.logos-item:nth-child(6) {
    background-position: -940px -10px;
}
.logos-item:nth-child(7) {
    background-position: 0 -150px;
}
.logos-item:nth-child(8) {
    background-position: -190px -150px;
}
.logos-item:nth-child(9) {
    background-position: -380px -150px;
}
.logos-item:nth-child(10) {
    background-position: -570px -150px;
}
.logos-item:nth-child(11) {
    background-position: -750px -150px;
}
.logos-item:nth-child(12) {
    background-position: -940px -150px;
}
.logos-item:nth-child(13) {
    background-position: 0 -290px;
}
.logos-item:nth-child(14) {
    background-position: -190px -290px;
}
.logos-item:nth-child(15) {
    background-position: -380px -290px;
}
.logos-item:nth-child(16) {
    background-position: -570px -290px;
}
.logos-item:nth-child(17) {
    background-position: -750px -290px;
}
.logos-item:nth-child(18) {
    background-position: -940px -290px;
}
.media-block {
    background: #222222;
    padding: 50px 0;
    text-align: center;
}
.media-block .url-more {
    color: #ad9356;
    border: 3px solid #ad9356;
    margin-top: 30px;
 }
.my-newlyweds.block-blog .blog-content {
    padding: 10px 0 60px;
}
.my-newlyweds {
    background: #f3f3f2;
}
.my-newlyweds .blog-item {
    font-size: 0;
}
.my-newlyweds .blog-item h4 {
    display: inline-block;
    line-height: 2;
    padding: 0 10px;
    background: #fff;
}
.reviews-block {
    padding: 50px 0;
    text-align: center;
}
.reviews-block .url-more {
    color: #ad9356;
    border: 3px solid #ad9356;
    margin-top: 30px;
}

.reviews-block .reviews-content-item {
    max-width: 920px;
    margin: 60px auto 40px;
}