@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 960px) {
	.social-block {
		display: none;
	}
}
@media screen and (max-width: 820px) {
	header .social-block {
		display: none;
	}
	.main-slider__info_slide-bot {
		display: none;
	}
	.main-slider {
		padding-bottom: 75%;
	}
	#slider-wrap, #slider, .slide {
		width: 115%;
		margin-left: -7%;
	}
	.feedback__phone {
		font-size: 26px;
	}
	.feedback__get-form {
		font-size: 12px;
	}
	.header-menu {
		width: 270px;
	}
	.btn-menu {
		margin: 0 0 0 10px;
	}
	.main-slider__info h1 {
		font-size: 58px;
	}
	.content {
		padding: 0 50px;
	}
	.wide-content {
		padding: 0 50px;
	}
	.section2__item:nth-child(1) {
		width: 390px;
	}
	.section2__item:nth-child(2) {
		width: 210px;
	}
	.section2__item:nth-child(3) {
		width: 210px;
	}
	.section2__item:nth-child(4) {
		width: 330px;
	}
	.section2__item:nth-child(5) {
		width: 210px;
	}
	.section2__item:nth-child(6) {
		width: 330px;
	}
	.section2__item_link {
		padding: 26px 32px;
		font-size: 20px;
	}
	.section2__item_content.block-blog {
		width: 100%;
		height: 120px;
		padding: 35px 30px 30px;
		font-size: 9px;
	}
	.section2__item_content.block-blog p {
		font-size: 17px;
		color: #fff;
	}
	.block-jack {
		width: 410px;
		padding: 90px 0 0 50px;
	}
	.section3 .jack-answer, .section3 .jack-ask {
		width: 260px;
		background-size: 100% 100%;
		height: 90px;
		font-size: 22px;
		line-height: 3.5;
	}
	.section3 .jack-ask {
		top: 290px;
		left: -130px;
	}
	.section3 .jack-answer {
		top: 100px;
		right: -150px;
	}
	.section3 .touch-place {
		background-size: 100% 100%;
		width: 80px;
		height: 80px;
		top: 46%;
		left: 41%;
	}
	.section5__item-body__item {
		margin: 30px 5px;
	}
	.section8 h3 {
		margin-bottom: 20px;
	}
	.section7__item:nth-child(1) {
		width: 60%;
		position: relative;
	}
	.section7__item:nth-child(2) {
		width: 40%;
		position: relative;
	}
	.section7__item p {
		font-size: 17px;
		padding: 5px 0;
	}
	.section7__item .url-more {
		padding: 10px 60px;
		max-width: 310px;
		font-size: 24px;
		text-align: center;
		margin: 15px 0 0 0;
	}
	.section8 > div > a {
		order: 2;
	}
	.feedback {
		order: 2;
	}
	.social-block {
		margin: 0 auto 25px;
	}
	.social-block.social-block-footer .social-block__url {
		background-image: url("../img/social-icons-footer-2.png");
		margin: 0 15px;
		width: 52px;
		height: 52px;
	}
	.social-block.social-block-footer .social-block__url:nth-child(2) {
		background-position: -90px 0;
	}
	.social-block.social-block-footer .social-block__url:nth-child(3) {
		background-position: -181px 0;
	}
	.social-block.social-block-footer .social-block__url:nth-child(4) {
		background-position: -272px 0;
	}
	.social-block.social-block-footer .social-block__url:nth-child(5) {
		background-position: -363px 0;
	}
	.social-block.social-block-footer .social-block__url:nth-child(6) {
		background-position: -454px 0;
	}
}
@media screen and (max-width: 400px) {
	.feedback {
		display: none;
	}
	.header-menu {
		width: 100%;
		padding: 0;
	}
	.content {
		padding: 0 15px;
	}
	.wide-content {
		padding: 0 15px;
	}
	.main-slider__info h1 {
		font-size: 58px;
		line-height: 1;
	}
	.main-slider {
		padding-bottom: 90%;
	}
	#slider-wrap, #slider, .slide {
		width: 122%;
		margin-left: -12%;
	}
	.section1 h2 {
		font-size: 30px;
	}
	.section1 span {
		font-size: 16px;
	}
	.section1 p {
		font-size: 16px;
	}
	.section2 .content {
		justify-content: center;
	}
	.section3 .content {
		justify-content: flex-end;
	}
	.block-jack {
		width: 290px;
		padding: 90px 0 0 50px;
		margin-right: -30px;
	}
	.section3 .main-jack {
		top: -20px;
		left: -60px;
	}
	.section3 .jack-ask {
		top: 230px;
		left: -120px;
	}
	.section3 .jack-answer {
		top: 90px;
		left: -150px;
		z-index: 1;
		background: none;
	}
	.section3 .jack-answer:before {
		content: '';
		position: absolute;
		display: block;
		transform: scale(-1, 1);
		background-image: url("../img/jack-talk-2.png");
		background-size: cover;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.section4__item {
		display: flex;
		flex-direction: row;
		text-align: left;
		font-size: 0;
		width: 100%;
		margin: 0;
	}
	.section4__item__image {
		width: 50%;
		background-size: cover;
	}
	.section4__item_info {
		width: 50%;
		padding-left: 5px;
	}
	.section4__item h4 {
		font-size: 20px;
	}
	.section4__item p {
		font-size: 16px;
	}
	.section5 .wide-content {
		flex-direction: column;
	}
	.section5__item {
		width: 100%;
	}
	.section6 h3 {
		font-size: 38px;
	}
	.section7__item:nth-child(1) {
		display: none;
	}
	.section7__item:nth-child(2) {
		width: 100%;
		padding: 50px 0;
	}
	.section8 > div > a {
		display: none;
	}
	.section8 .feedback {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	.social-block.social-block-footer {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.social-block.social-block-footer .social-block__url {
		margin: 10px 25px;
	}
	footer {
		height: auto;
	}
	footer .wide-content {
		flex-flow: column;
		justify-content: center;
	}
	footer .wide-content p {
		margin: 10px;
	}
	.short-menu-body {
		padding: 70px 0 0 60px;
		position: absolute;
		width: 85%;
	}
	.short-menu a {
			font-size: 8vw;
	}
	.modal-body h3, .big-h3 h3 {
		margin-bottom: 0px;
		font-size: 50px;
	}
	.input-reg {
		margin: 20px 15px 20px;
	}
	.modal-content.modal-content-about {
		padding: 50px 20px 20px;
	}
	.modal-block.modal-about {
		position: fixed;
		top: 0;
		left: 0;
		overflow: auto;
		align-items: flex-start;
	}
	.modal-content-footer {
		padding: 20px 20px;
		background: #ad9356;
	}
	.modal-content-footer p {
		font-size: 26px;
	}
}